[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart={{ prometheus_exec_command }}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
